@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "gustavom" ;
  src: url("../../public/font/Gustavo_trial-Medium-BF65f254e1e1a08.otf");
}
@font-face {
  font-family: "gustavor" ;
  src: url("../../public/font/Gustavo_trial-Regular-BF65f254e22bb0e.otf");
}
@font-face {
  font-family: "gustavob" ;
  src: url("../../public/font/Gustavo_trial-Bold-BF65f254e21d829.otf");
}


.gustavom{
  font-family: "gustavom" ;
}
.gustavor{
  font-family: "gustavor" ;
}
.gustavorb{
  font-family: "gustavob" ;
}

@font-face {
  font-family: "tartuffob" ;
  src: url("../../public/font/Tartuffo_Trial-Bold-BF643371dae156a.otf");
}

@font-face {
  font-family: "tartuffom" ;
  src: url("../../public/font/Tartuffo_Trial-Medium-BF643371daee2ec.otf");
}

@font-face {
  font-family: "tartuffor" ;
  src: url("../../public/font/Tartuffo_Trial-Regular-BF643371db1355b.otf");
}

body{
  background-repeat: no-repeat;
  /* background-image: url("../../public/Layoutbg.svg"); */
}


.tartuffor{
  font-family:"tartuffor" ;
}
.tartuffom{
  font-family:"tartuffom" ;
}
.tartuffob{
  font-family:"tartuffob" ;
}

span,p,button{
  font-family:"gustavor" ;
  line-height: 1.5rem;
}

h1,h2,h3,h4,h5,h6{
  font-family:"tartuffor" ;
}



.firstcardbg{
    transition: all ease 0.5s;
  background-image: linear-gradient(180deg, white, #EFF1FD);
  &:hover{
  /* background-blend-mode: multiply;        */
  background-image: linear-gradient(180deg, white, rgba(206, 210, 241, 0.8));
  }
}



.bgcard4 {
  background-image: linear-gradient(180deg, white 1%, #EBE0D8 90%);
  transition: background-image 0.3s ease;

  &:hover {
    background-image: linear-gradient(180deg, white 0%, #EBE0D8 50%);
  
}}

.bgcard6{
  
  background:  #EBE0D8;
  
  &:hover {
    background-color: transparent;
    background-image: linear-gradient(180deg, transparent 0%, white 50%);
  
  }
}

.bgcard62{
  
  background: transparent;
  &:hover {
  background-image: linear-gradient(180deg, transparent 0%, white 50%);
  }
}

.bgsectechno{
  width: 100%;
  background-size: cover;
  background-image: radial-gradient(circle at top, #D4C2B8 5%, rgba(212, 194, 184, 0.005) 60%);

}

.bgspotify{
  
  background-image: linear-gradient(180deg, transparent, #EBE0D8  ,transparent );
}

.bgboule1{
  
  background-image: linear-gradient(-47deg, #FFE7DB 0%, #EECDBF  100% );
  
}


.bgboule2{
  
  background-image: linear-gradient(47deg, #DBF2FF, #BFC7EE   );
  
}

.bgboule3{
  
  background-image: linear-gradient(47deg, #F6F6F6, #D8D8D8   );
  
}

.bgboule4{
  
  background-image: linear-gradient(47deg, #99969F, #484848   );
  
}

.bgcarou{
  
  background-image: linear-gradient(180deg, rgba(239, 241, 253,0.2) 5%,#EFF1FD 20%, #EFF1FD  70% );
}

.bgherosection{
  /* background-image: linear-gradient(180deg, transparent, #EBE0D8  ,transparent ); */
  background-image: linear-gradient(hsla(26, 41%, 97%, .1) 54%, hsla(26, 41%, 97%, .4) 68%, hsla(26, 41%, 97%, .6) 79%, #faf6f3 96%)
}


.textanimer {
  background: url("./../../public/colorsfrancepara.png");
  background-size: cover;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: textanim 2s ease-out infinite backwards;
  background-position: 100% 100%;
}


@keyframes textanim {
  0% {
    background-position: 100% 100%;
}
100% {
    background-position: -80% -100%;
}
}

.gradientTopbarre{
    background: linear-gradient(180deg, #faf6f3 -40%, hsla(0, 0%, 100%, .8) 44.9640343468%, hsla(0, 0%, 100%, .4) 61.9228603604%, hsla(0, 0%, 100%, 0) 74.1195101351%);
}

.custom-dot-list-style,.react-multi-carousel-dot-list{
  position: absolute !important;
  top: 90% ;
  left: 0;
  height: auto !important;
  background-color: transparent !important;
  /* display: none !important; */
}

.react-multi-carousel-track {
  overflow:visible !important;
  /* background-color: red; */
}

.carou{
  height: auto !important;
  max-height:auto !important;
}


.linetrans{
  transform-origin: 22% 120%;
}

.parallelogramme{clip-path: polygon(0 0, 78% 0, 100% 100%, 21% 100%);;
}

.transformline{
  
  transform-origin: 50% 50%;
}